<section class="about-kitchen">
    <div class="kitchen-container container">
        <h2 class="visually-hidden">About a kitchen</h2>
        <div>
            <ul class="list kitchen-list">
                <li class="kitchen-img">
                    <picture>
                        <source srcset="./img/restaurant/rest-desktop-1.jpg 1x, ./img/restaurant/rest-desktop-1-2x.jpg 2x"
                            media="(min-width: 1440px)" />
                        <source srcset="./img/restaurant/rest-tablet-1.jpg 1x, ./img/restaurant/rest-tablet-1-2x.jpg 2x"
                            media="(min-width: 768px)" />
                        <img srcset="./img/restaurant/rest-mobile-1.jpg 1x, ./img/restaurant/rest-mobile-1-2x.jpg 2x"
                            src="./img/restaurant/rest-mobile-1.jpg" alt="man who cooking" />
                    </picture>
                </li>
                <li class="kitchen-img">
                    <div class="two-pictures">
                        <picture>
                            <source
                                srcset="./img/restaurant/rest-desktop-2.jpg 1x, ./img/restaurant/rest-desktop-2-2x.jpg 2x"
                                media="(min-width: 1440px)" />
                            <source
                                srcset="./img/restaurant/rest-tablet-2.jpg 1x, ./img/restaurant/rest-tablet-2-2x.jpg 2x"
                                media="(min-width: 768px)" />
                            <img srcset="./img/restaurant/rest-mobile-2.jpg 1x, ./img/restaurant/rest-mobile-2-2x.jpg 2x"
                                src="./img/restaurant/rest-mobile-2.jpg" alt="three steaks" />
                        </picture>
                        <picture>
                            <source 
                                srcset="./img/restaurant/rest-desktop-3.jpg 1x, ./img/restaurant/rest-desktop-3-2x.jpg 2x"
                                media="(min-width: 1440px)" />
                            <source
                                srcset="./img/restaurant/rest-tablet-3.jpg 1x, ./img/restaurant/rest-tablet-3-2x.jpg 2x"
                                media="(min-width: 768px)" />
                            <img srcset="./img/restaurant/rest-mobile-3.jpg 1x, ./img/restaurant/rest-mobile-3-2x.jpg 2x"
                                src="./img/restaurant/rest-mobile-3.jpg" alt="cocktail" />
                        </picture>
                    </div>
                </li>
            </ul>
        </div>
        <div>
            <ul class="list text-list">
                <li class="kitchen-item-experts">
                    <p class="kitchen-text">
                        At Mimino, we are experts in meat preparation. Our chefs use only
                        the finest and freshest ingredients to create delicious dishes that
                        showcase the flavors of premium cuts of meat.
                    </p>
                </li>
                <li class="kitchen-item-cooking">
                    <p class="kitchen-text">
                        Our slow-cooking process and expert seasoning bring out the best in
                        each dish, making for an unforgettable dining experience. Come taste
                        the magic of meat preparation at Mimino.
                    </p>
                </li>
            </ul>
        </div>
    </div>
</section>