<section class="rest-menu">
    <div class="rest-menu-continer">
        <h2 class="rest-menu-name">Restaurant menu</h2>
        <h3 class="rest-menu-sub-name">Hot meals</h3>
        <ul class="rest-menu-items">
            <li class="rest-menu-item">
                <div>
                    <h3 class="rest-menu-dish-name current">Veal borscht with beans</h3>
                    <p class="rest-menu-ingredients">Veal, potatoes, cabbage, carrots, onions, beans, garlic, tomatoes,
                    greens, sour cream</p>
                </div>
                <div>
                    <p class="rest-menu-dish-weight">400 g</p>
                    <p class="rest-menu-dish-price">240 UAH</p>
                </div>              
            </li>
            <li class="rest-menu-item">
                <div>
                   <h3 class="rest-menu-dish-name current">Cheese soup with chicken</h3>
                    <p class="rest-menu-ingredients">Chicken, potatoes, carrots, onions, mushrooms, soft cheese, greens</p>
                </div>
                <div>
                   <p class="rest-menu-dish-weight">400 g</p>
                    <p class="rest-menu-dish-price">200 UAH</p>     
                </div>              
            </li>
            <li class="rest-menu-item">
                <div>
                    <h3 class="rest-menu-dish-name current">Carbonara pasta</h3>
                    <p class="rest-menu-ingredients">Tagliatelle pasta, bacon, cream, Parmesan cheese, egg, greens</p>
                </div>
                <div>
                    <p class="rest-menu-dish-weight">400 g</p>
                    <p class="rest-menu-dish-price">430 UAH</p>
                </div>  
            </li>
            <li class="rest-menu-item">
                <div>
                    <h3 class="rest-menu-dish-name current">Pork steak</h3>
                    <p class="rest-menu-ingredients">Pork tenderloin, spices, served with sweet chili sauce and vegetables
                    </p>
                </div>
                <div>
                    <p class="rest-menu-dish-weight">400 g</p>
                    <p class="rest-menu-dish-price">500 UAH</p>
                </div>
            </li>
            <li class="rest-menu-item">
                <div>
                   <h3 class="rest-menu-dish-name current">Gorbusha in white wine sauce</h3>
                    <p class="rest-menu-ingredients">Tender redfish, cream sauce based on white wine</p> 
                </div> 
                <div>
                    <p class="rest-menu-dish-weight">400 g</p>
                    <p class="rest-menu-dish-price">400 UAH</p>
                </div>
            </li>
        </ul>
        <button class="rest-menu-btn" type="button">book a table</button>
    </div>
</section>