<section class="rest-menu">
    <div class="rest-menu-items">
        <h2 class="rest-menu-name">Restaurant menu</h2>
        <h3>Hot meals</h3>
        <ul>  
            <li>
                <h3>Veal borscht with beans</h3>
                <p>Veal, potatoes, cabbage, carrots, onions, beans, garlic, tomatoes, greens, sour cream</p>
                <p>400 g</p>
                <p>240 UAH</p>
            </li>
            <li>
                <h3>Cheese soup with chicken</h3>
                <p>Chicken, potatoes, carrots, onions, mushrooms, soft cheese, greens</p>
                <p>400 g</p>
                <p>200 UAH</p>
            </li>
            <li>
                <h3>Carbonara pasta</h3>
                <p>Tagliatelle pasta, bacon, cream, Parmesan cheese, egg, greens</p>
                <p>400 g</p>
                <p>430 UAH</p>
            </li>
            <li>
                <h3>Pork steak</h3>
                <p>Pork tenderloin, spices, served with sweet chili sauce and vegetables</p>
                <p>400 g</p>
                <p>500 UAH</p>
            </li>
            <li>
                <h3>Gorbusha in white wine sauce</h3>
                <p>Tender redfish, cream sauce based on white wine</p>
                <p>400 g</p>
                <p>400 UAH</p>
            </li>
        </ul>
        <button type="button">book a table</button>
    </div>
</section>