.room {
  background-color: #121212;
  color: #FFFFFF;
  font-family: 'DM Sans';
  font-style: normal;
  padding-top: 40px;
  padding-bottom: 64px;
}
.room-list {
  margin-top: 28px;
  margin-left: 20px;
  margin-right: 20px;
  list-style: inherit;
}
.room-subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: calc(32 / 28);
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #F7F7F7;
  margin-left: 20px;
  margin-top: 40px;
}
.room-list-item {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(18 / 14);
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #F7F7F7;
  margin-left: 20px;
}
.room-img {
  display: flex;
  justify-content: flex-end;
  position: relative;
  padding-top: 64px;
  padding-bottom: 32px;
  margin-right: 20px;
}
.room-img-item {
  position: absolute;
  z-index: 100;
  left: 32px;
  top: 50%;
}

@media screen and (max-width: 375px) {
  .room-img-item {
    left: 16px;
  }
}

.room-button-text {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(18 / 14);
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
.room-button {
  padding-top: 118px;
  padding-left: 68px;
}
.room-button-item {
  padding: 8px 18px;
  border: 0.8px solid #F7F7F7;
  border-radius: 32px;
  background-color: #121212;
  color: #F7F7F7;
  margin: 0 auto;
  display: block;
  padding-right: 40px;
  padding-left: 40px;
}
.room-button-item:is(:hover, :focus) {
  color: #121212;
  background-color: #FFFFFF;
}
@media screen and (min-width: 375px) {
  .room-subtitle {
    font-size: 28px;
  }
}
@media screen and (min-width: 768px) {
  .room {
    padding-bottom: 0;
  }
  .room-subtitle {
    font-size: 40px;
    line-height: calc(44 / 40);
    margin-left: 32px;
    margin-top: 80px;
  }
  .room-list-item {
    font-size: 18px;
    line-height: calc(24 / 18);
    margin-left: 32px;
  }
  .room-img {
    padding-top: 122px;
    padding-bottom: 80px;
    margin-right: 32px;
  }
  .room-img-item {
    top: 40%;
    left: 170px;
  }
  .room-button-text {
    line-height: calc(24 / 14);
  }
  .room-button-item {
    padding: 8px 24px;
    border: 0.8px solid #F7F7F7;
    border-radius: 32px;
    background-color: #121212;
    color: #F7F7F7;
    padding-right: 24px;
    padding-left: 24px;
    margin-top: 32px;
    display: inline-block;
  }
  .room-button {
    padding-left: 0;
    padding-top: 0;
  }
}
@media screen and (min-width: 1440px) {
  .room {
    position: relative;
    padding-bottom: 616px;
  }
  .room-section {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 70px;
  }
  .room-section-second {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 230px;
  }
  .room-subtitle {
    margin-top: 100px;
  }
  .room-list {
    margin-top: 40px;
  }
  .room-img-item {
    left: -70%;
  }
  .room-img {
    position: absolute;
    right: 0;
    bottom: 0;
  }
  .room-button-item {
    padding: 9px 24px;
  }
}