<section class="container">
  <h2 class="visually-hidden">About a complex</h2>
  <div class="photos-about">
    <div class="image-position-fire">
      <picture>
        <source
          srcset="
            ./img/index/fireplace-desc.jpg   1x,
            ./img/index/fireplace-desc@2.jpg 2x
          "
          media="(min-width: 1440px)"
        />
        <source
          srcset="
            ./img/index/fireplace-tab.jpg   1x,
            ./img/index/fireplace-tab@2.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <img
          srcset="
            ./img/index/fireplace-mob.jpg   1x,
            ./img/index/fireplace-mob@2.jpg 2x
          "
          src="./img/index/fireplace-mob.jpg"
          alt="fire place"
        />
      </picture>
    </div>
    <div class="image-position-bath">
      <picture>
        <source
          srcset="
            ./img/index/bathimage-desc.jpg   1x,
            ./img/index/bathimage-desc@2.jpg 2x
          "
          media="(min-width: 1440px)"
        />
        <source
          srcset="
            ./img/index/bathimage-tab.jpg   1x,
            ./img/index/bathimage-tab@2.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <img
          srcset="
            ./img/index/bathimage-mob.jpg   1x,
            ./img/index/bathimage-mob@2.jpg 2x
          "
          src="./img/index/bathimage-mob.jpg"
          alt="bath room"
        />
      </picture>
    </div>
  </div>
 <div class="complex-capture-wrap">
    <h3 class="title-complex">restaurant-hotel complex</h3>
    <ul class="complex-capture-items">
      <li class="complex-capture-list">
        <p class="complex-capture">
          Indulge in a taste of luxury with every bite at Hotel Mimino. From the
          freshest seafood to the most succulent steaks, every dish is crafted
          with care to ensure that you enjoy a truly memorable dining experience.
        </p>
      </li>
      <li class="complex-capture-list">
        <p class="complex-capture">
          Treat yourself to a taste of the good life and come dine with us today!
        </p>
      </li>
    </ul>
 </div>
  <div class="glass-photo">
    <picture>
      <source
        srcset="./img/index/glass-desc.jpg 1x, ./img/index/glass-desc@2.jpg 2x"
        media="(min-width: 1440px)"
      />
      <source
        srcset="./img/index/glass-tab.jpg 1x, ./img/index/glass-tab@2.jpg 2x"
        media="(min-width: 768px)"
      />
      <img
        srcset="./img/index/glass-mob.jpg 1x, ./img/index/glass-mob@2.jpg 2x"
        src="./img/index/glass-mob.jpg"
        alt="fire place"
      />
    </picture>
  </div>
<div class="title-bisiness">
   <div class="title-complex-position">
      <h3 class="title-complex-bc">business class hotel</h3>
    <div class="complex-capture-bc">
        <p>
          The Mimino hotel features spacious and stylish double luxury rooms with
          modern amenities for a comfortable stay.
        </p>
   </div>
  </div>
  <div class="restroom-photo">
    <picture>
      <source
        srcset="./img/index/restroom-complex-desc.jpg 1x, ./img/index/restroom-complex-desc@2.jpg 2x"
        media="(min-width: 1440px)"
      />
      <source
        srcset="./img/index/restroom-complex-tab.jpg 1x, ./img/index/restroom-complex-tab@2.jpg 2x"
        media="(min-width: 768px)"
      />
      <img
        srcset="./img/index/restroom-complex.jpg 1x, ./img/index/restroom-complex@2.jpg 2x"
        src="./img/index/restroom-complex.jpg"
        alt="fire place"
      />
</div>
  </picture>
</div>
</section>
