<section class="container hero-container hero-home">
  <div class="hero-home-container">
    <picture>
      <source
        srcset="
          ./img/hotel/hero-hotel/desk-home_1x.jpg 1x,
          ./img/hotel/hero-hotel/desk-home_2x.jpg 2x
        "
        media="(min-width: 1440px)"
      />
      <source
        srcset="
          ./img/hotel/hero-hotel/tablet-home_1x.jpg 1x,
          ./img/hotel/hero-hotel/tablet-home_2x.jpg 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ./img/hotel/hero-hotel/mob-home_1x.jpg 1x,
          ./img/hotel/hero-hotel/mob-home_2x.jpg 2x
        "
        media="(min-width: 375px)"
      />
      <img
        class="hero-home-img"
        src="./img/hotel/hero-hotel/mob-home_1x.jpg"
        alt="height modern build"
        width="542"
      />
    </picture>
    <div class="hero-home-wraper">
      <h1 class="hero-home-title">Mimino</h1>
      <ul class="hero-home-list-btn list">
        <li class="hero-home-button">
          <button class="hero-home-btn" type="button" data-modal-open>book a room</button>
        </li>
        <li class="hero-home-button">
          <button class="hero-home-btn" type="button" js-modal-open>book a table</button>
        </li>
      </ul>
    </div>
  </div>
  <div class="hero-home-sent">
    <h2 class="hero-home-wrap-title">Mimino</h2>
    <ul class="hero-home-list list">
      <li class="hero-home-item">
        <p class="hero-home-text home-text">
          Whether you're in the mood for a hearty breakfast, a light lunch, or a
          <span>romantic dinner</span>, our menu has something for everyone.
        </p>
      </li>
      <li class="hero-home-item">
        <p class="hero-home-text home-p">
          At Hotel Mimino, we believe that great food should be available to
          everyone, no matter the time of day.
        </p>
      </li>
    </ul>
  </div>
</section>
