<section class="hotel-details container">
  <div class="hotel-details-caption">
    <h2 class="hotel-details-header">Hotel</h2>
    <p class="hotel-details-text">
      Book your stay with us now and experience the epitome of comfort and
      luxury at our hotel. We guarantee you'll be thrilled with your decision.
    </p>
  </div>
  <div class="test">
    <ul class="hotel-details-list-first list">
      <li class="hotel-details-item hotel-details-item-positioning-first">
        <img
          src="/img/index/hotel-details-soap.jpg"
          alt="Hotel details soap"
          width="158"
          height="128"
        />
      </li>
      <li class="hotel-details-item hotel-details-item-positioning-first">
        <img
          src="/img/index/hotel-details-bathroom.jpg"
          alt="Hotel details bathroom"
          width="158"
          height="128"
        />
      </li>
    </ul>
    <div class="hotel-details-item hotel-details-item-positioning">
      <img
        src="/img/index/hotel-details-room.jpg"
        alt="Hotel details room"
        width="335"
        height="417"
      />
    </div>
    <ul class="hotel-details-list-last list">
      <li
        class="hotel-details-item hotel-details-item-positioning-last mobile-hiden"
      >
        <img
          src="/img/index/hotel-details-bathroom-2.jpg"
          alt="Hotel details bathroom 2"
          width="158"
          height="128"
        />
      </li>
      <li
        class="hotel-details-item hotel-details-item-positioning-last mobile-hiden"
      >
        <img
          src="/img/index/hotel-details-cosmetics.jpg"
          alt="Hotel details cosmetics"
          width="158"
          height="128"
        />
      </li>
    </ul>
  </div>
  <ul class="hotel-details-button-list list">
    <li class="hotel-details-button-item">
      <button class="hotel-details-button" type="button" data-modal-open>
        Book a room
      </button>
    </li>
    <li class="hotel-details-buttons-item">
      <button class="hotel-details-button" type="button" data-modal-open>
        View room
      </button>
    </li>
  </ul>
</section>
