<section class="location-contacts container">
  <div class="location-header-maps-caption">
      <h2 class="location-contacts-header">location</h2>
          <iframe class="maps"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2585.858166014517!2d34.524785651855396!3d49.60042407926584!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d826022b1a2a59%3A0x8a4e63a91fa6a3ea!2z0KfQkNCeICLQlNC-0LzQuNC90LjQuiI!5e0!3m2!1sru!2ses!4v1677585332991!5m2!1sru!2ses"
            width="330"
            height="384"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
  </div>
  <address class="address-contacts">
      <div class="address-caption">
          <ul class="location-address-list list">
              <li class="location-address-item">Ukraine, Poltava,</li>
              <li class="location-address-item">St. Marshal Biryuzov, 15</li>
          </ul>
      </div>
  <div class="contacts-caption">
          <p class="location-contacts-text">call us:</p>
          <ul class="location-contacts-list list">
            <li class="location-contacts-item">
                <a href="tel:0955559533" class="contact-link link"
                  >(095) 555 95 33</a
                >
              </li>
              <li class="location-contacts-item">
                <a href="tel:0668491089" class="contact-link link"
                  >(066) 849 10 89</a
                >
              </li>
          </ul>
  </div>
  </address>
</section>
