<section class="container">
<ul class="wrap-list-rest-det">
      
             <li>
                  <div class="title-wrap-rest">
                        <ul class="title-rest-det-list">
                            <li><h2 class="title-rest-det">restaurant</h2></li>
                            <li><p class="title-capture-text">Relax and unwind with our delicious offerings, available any time of day.</p></li>
                        </ul>
                  </div>
             </li>
              <li>
                  <ul class="btn-det-position">
                   <li>
                        <div>
                            <ul class="rest-det-list">
                            <li >
                                <picture>
                                        <source
                                          srcset="
                                            ./img/index/strawberry-desc.jpg   1x,
                                            ./img/index/strawberry-desc@2.jpg 2x
                                          "
                                          media="(min-width: 1440px)"
                                        />
                                        <source
                                          srcset="
                                            ./img/index/strawberry-tab.jpg   1x,
                                            ./img/index/strawberry-tab@2.jpg 2x
                                          "
                                          media="(min-width: 768px)"
                                        />
                                        <img
                                          srcset="
                                            ./img/index/strawberry-mob.jpg   1x,
                                            ./img/index/strawberry-mob@2.jpg 2x
                                          "
                                          src="./img/index/strawberry-mob.jpg"
                                          alt="strawberry coctail"
                                        />
                                      </picture>
                               </li>
                               <li>
                                <picture class="desc-portfolio">
                                        <img
                                          srcset="
                                            ./img/index/croassant-desc.jpg   1x,
                                            ./img/index/croassant-desc@2.jpg 2x
                                          "
                                          src="./img/index/croassant-desc.jpg"
                                          alt="croassant"
                                        />
                                      </picture>
                               </li>
                               <li>
                                <picture class="desc-portfolio">
                                        <img
                                          srcset="
                                            ./img/index/emptyglass-desc.jpg   1x,
                                            ./img/index/emptyglass-desc@2.jpg 2x
                                          "
                                          src="./img/index/emptyglass-desc.jpg"
                                          alt="vine glass empty"
                                        />
                                      </picture>
                               </li>
                                 <li>
                                      <picture>
                                        <source
                                          srcset="
                                            ./img/index/kitchenman-desc.jpg   1x,
                                            ./img/index/kitchenman-desc@2.jpg 2x
                                          "
                                          media="(min-width: 1440px)"
                                        />
                                        <source
                                          srcset="
                                            ./img/index/kitchenman-tab.jpg   1x,
                                            ./img/index/kitchenman-tab@2.jpg 2x
                                          "
                                          media="(min-width: 768px)"
                                        />
                                        <img
                                          srcset="
                                            ./img/index/kitchenman-mob.jpg   1x,
                                            ./img/index/kitchenman-mob@2.jpg 2x
                                          "
                                          src="./img/index/kitchenman-mob.jpg"
                                          alt="shef of kitchenman"
                                        />
                                 </li>
                                 <li>
                                    <picture class="desc-portfolio">
                                            <img
                                              srcset="
                                                ./img/index/fish-desc.jpg   1x,
                                                ./img/index/fish-desc@2.jpg 2x
                                              "
                                              src="./img/index/fish-desc.jpg"
                                              alt="vine glass empty"
                                            />
                                          </picture>
                                   </li>
                            </ul>
                    </div>
                <li>
                <li>
              </li>
          <li>
              <div class="title-wrap-det">
                        <ul class="rest-det-btn-list">
                            <li class="rest-det-btn-item">
                                <button data-book-a-table-open  class="rest-det-btn" type="button">book a table</button>
                            </li>
                            <li class="rest-det-btn-item">
                                <button class="rest-det-btn" type="button"><a href="./restaurant.html">View the menu</a></button></li>
                          </ul>
              </div>
                </li>
           </ul>
          </li>
  </ul>
</section>