<section class="welcome container">
 <div class="welcome-caption">
      <h2 class="welcome-header">Welcome to the epitome of luxury and comfort</h2>
      <ul class="welcome-list list">
        <li class="welcome-item">
          <p class="welcome-text">
            Our hotel rooms are elegantly designed with an eye for detail, ensuring
            that you have everything you need for a relaxing and rejuvenating stay.
          </p>
        </li>
        <li class="welcome-item">
          <p class="welcome-text">
            Each room is equipped with the latest amenities, including plush
            bedding, high-speed Wi-Fi, flat-screen TVs, and a coffee maker to help
            you start your day right. Our spacious bathrooms feature luxurious
            toiletries and towels, so you can pamper yourself in complete privacy.
          </p>
        </li>
      </ul>
 </div>
  <img
    src="/img/index/welcome-to-a-complex.jpg"
    alt="Welcome to a complex"
    width="335"
    height="833"
  />
</section>
