<section class="hero-room container">
    HERO Room<br />
    <a href="./index.html">travel to index</a><br />
    <a href="./hotel.html">travel to hotel</a><br />
    <a href="./restaurant.html">travel to restaurant</a>
</section>    


    <section class="hero-room">
    <div class="container hero-container">
        <div class="hero-room-desk">
            <div class="hero-desk-group">
                <h1 class="hero-title room">Double <br /><span>luxury</span> room</h1>                
                <button class="hero-btn" type="button">view prices</button>
            </div>
                <ul class="hero-list-img img-room list">
                <li class="hero-img">
                    <picture>
                        <source
                        srcset="./img/room/hero-room/desk-room-1_1x.jpg 1x,
                        ./img/room/hero-room/desk-room-1_2x.jpg 2x"
                        media="(min-width: 1440px)"
                        />
                        <source
                        srcset="./img/room/hero-room/tablet-room-1_1x.jpg 1x,
                        ./img/room/hero-room/tablet-room-1_2x.jpg 2x"
                        media="(min-width: 768px)" 
                        />
                        <source
                        srcset="./img/room/hero-room/mob-room-1_1x.jpg 1x,
                        ./img/room/hero-room/mob-room-1_2x.jpg 2x"
                        media="(max-width: 767px)" 
                        />
                    </picture>
                    <img 
                    src="./img/room/hero-room/mob-room-1_1x.jpg" 
                    alt="hotel room" width="436">
                </li>
                <li class="hero-img">
                    <picture>
                        <source
                        srcset="./img/room/hero-room/desk-room-2_1x.jpg 1x,
                        ./img/room/hero-room/desk-room-2_2x.jpg 2x"
                        media="(min-width: 1440px)"
                        />
                        <source
                        srcset="./img/room/hero-room/tablet-room-2_1x.jpg 1x,
                        ./img/room/hero-room/tablet-room-2_2x.jpg 2x"
                        media="(min-width: 768px)" 
                        />
                        <source
                        srcset="./img/room/hero-room/mob-room-2_1x.jpg 1x,
                        ./img/room/hero-room/mob-room-2_2x.jpg 2x"
                        media="(max-width: 767px)" 
                        />
                    </picture>
                    <img
                    src="./img/room/hero-room/mob-room-2_1x.jpg" 
                    alt="kitchen" width="436">
                </li>
            </ul>
        </div>
    
        <div class="hero-group">
            <ul class="hero-svg list">
                <li class="hero-svg-icon">
            <svg class="mob-hero-svg-icon icon-first" width="36px" height="36px">
                <use href="./img/svg/icons.svg#slider-left"></use>
            </svg>
            </li>
            <li class="hero-svg-icon">
                <svg class="mob-hero-svg-icon" width="36px" height="36px">
                    <use href="./img/svg/icons.svg#slider-right"></use>
                </svg>
                </li>
            </ul>
            <p class="hero-text box">The Mimino hotel features spacious and stylish double luxury rooms with modern amenities for a comfortable stay.</p>
        </div>
    </div>
    </section> 
