<section class="room">
  <ul class="room-list">
    <h2 class="room-subtitle">General Amenities & Facilities:</h2>
    <li class="room-list-item">24-hour front desk service</li>
    <li class="room-list-item">Daily housekeeping</li>
    <li class="room-list-item">Free Wi-Fi throughout the hotel</li>
    <li class="room-list-item">Elevator access</li>
    <li class="room-list-item">Luggage storage</li>
    <li class="room-list-item">Non-smoking rooms available</li>
    <li class="room-list-item">Meeting rooms for business and events</li>
    <li class="room-list-item">On-site parking (surcharge)</li>
    <li class="room-list-item">Concierge services</li>
  </ul>
  <ul class="room-list">
    <h2 class="room-subtitle">Bathroom:</h2>
    <li class="room-list-item">Private bathroom with shower</li>
    <li class="room-list-item">Complimentary toiletries</li>
    <li class="room-list-item">Hair dryer</li>
    <li class="room-list-item">Fresh towels daily</li>
    <li class="room-list-item">Deluxe bathrobes (in some room categories)</li>
  </ul>
  <ul class="room-list">
    <h2 class="room-subtitle">Bedroom:</h2>
    <li class="room-list-item">Comfortable beds with high-quality linens</li>
    <li class="room-list-item">Blackout curtains</li>
    <li class="room-list-item">
      Climate control (air conditioning and heating)
    </li>
    <li class="room-list-item">Safe for valuables</li>
    <li class="room-list-item">Writing desk and chair</li>
    <li class="room-list-item">Flat-screen TV with cable channels</li>
  </ul>
  <ul class="room-list">
    <h2 class="room-subtitle">Kitchen:</h2>
    <li class="room-list-item">
      In-room kitchenette (in some room categories)
    </li>
    <li class="room-list-item">Refrigerator</li>
    <li class="room-list-item">Microwave</li>
    <li class="room-list-item">Electric kettle</li>
    <li class="room-list-item">Cooking utensils and cutlery</li>
    <li class="room-list-item">Dining table and chairs</li>
  </ul>
  <ul class="room-list">
    <h2 class="room-subtitle">Media:</h2>
    <li class="room-list-item">Flat-screen TV with cable channels</li>
    <li class="room-list-item">High-speed Wi-Fi</li>
    <li class="room-list-item">iPod docking station</li>
    <li class="room-list-item">Speaker system</li>
    <li class="room-list-item">Electrical outlets for charging devices.</li>
  </ul>
  <div class="room-img">
    <img
      id="picture1"
      class="room-img-item"
      srcset="./img/room/mobile-lather@2x.jpg 2x"
      src="./img/room/mobile-lather.jpg"
      alt="lather"
      width="207"
      height="103"
    />
    <img
      id="picture2"
      class="room-img-item"
      srcset="./img/room/mobile-bathroom@2x.jpg 2x"
      src="./img/room/mobile-bathroom.jpg"
      alt="bathroom"
      width="259"
      height="333"
    />
  </div>
  <button class="room-button" type="button">Book a room</button>
</section>
