<section class=" hero-hotel">
  <div class="hero-container container">
    <div class="hero-desk-group">
      <h1 class="hero-title">Hotel</h1>
      <ul class="hero-list-btn list">
        <li class="hero-button">
          <button data-modal-open class="hero-btn" type="button" >
            book a room
          </button>
        </li>
        <li class="hero-button">
          <button class="hero-btn" type="button">View prices</button>
        </li>
      </ul>
    </div>
    <ul class="hero-list-img list">
      <li class="hero-img">
        <picture>
          <source
            srcset="
              ./img/hotel/hero-hotel/mob-hotel-1_1x.jpg 1x,
              ./img/hotel/hero-hotel/mob-hotel-1_1x.jpg 2x
            "
            media="(min-width: 375px)"
          />
          <source
            srcset="
              ./img/hotel/hero-hotel/tablet-hotel-1_1x.jpg 1x,
              ./img/hotel/hero-hotel/tablet-hotel-1_2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/hotel/hero-hotel/desk-hotel-1_1x.jpg 1x,
              ./img/hotel/hero-hotel/desk-hotel-1_2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
        </picture>
        <img
          src="./img/hotel/hero-hotel/mob-hotel-1_1x.jpg"
          alt="height modern build"
          width="436"
        />
      </li>
      <!-- <li class="hero-img">
        <picture>
          <source
            srcset="
              ./img/hotel/hero-hotel/desk-hotel-2_1x.jpg 1x,
              ./img/hotel/hero-hotel/desk-hotel-2_2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./img/hotel/hero-hotel/tablet-hotel-2_1x.jpg 1x,
              ./img/hotel/hero-hotel/tablet-hotel-2_2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/hotel/hero-hotel/mob-hotel-2_1x.jpg 1x,
              ./img/hotel/hero-hotel/mob-hotel-2_2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
        </picture>
        <img
          src="./img/hotel/hero-hotel/mob-hotel-2_1x.jpg"
          alt="modern build"
          width="436"
        />
      </li> -->
    </ul>
  </div>
  <p class="hero-text boxes">
    Whether you're in the mood for a hearty breakfast, a light lunch, or a
    <span>romantic dinner</span>, our menu has something for everyone.
  </p>
  <ul class="hero-svg list">
    <li class="hero-svg-icon">
      <svg class="mob-hero-svg-icon icon-first" width="36px" height="36px">
        <use href="./img/svg/icons.svg#slider-left"></use>
      </svg>
    </li>
    <li class="hero-svg-icon">
      <svg class="mob-hero-svg-icon" width="36px" height="36px">
        <use href="./img/svg/icons.svg#slider-right"></use>
      </svg>
    </li>
  </ul>
</section>


