<section class="hotel-room-section container">
  <ul class="hotel-room-img-list triple list">
    <li class="hotel-room-img-item triple">
      <picture>
        <source
          srcset="
            ./img/hotel/deskop-triple-img/img.jpg    1x,
            ./img/hotel/deskop-triple-img/img@2x.jpg 2x
          "
          type="image/jpeg"
          media="(min-width: 1440px)"
          width="539"
          height="762"
        />
        <source
          srcset="
            ./img/hotel/tablet-triple-img/img.jpg    1x,
            ./img/hotel/tablet-triple-img/img@2x.jpg 2x
          "
          type="image/jpeg"
          media="(min-width: 768px)"
          width="331"
          height="468"
        />
        <source
          srcset="
            ./img/hotel/mobile-triple-img/img.jpg    1x,
            ./img/hotel/mobile-triple-img/img@2x.jpg 2x
          "
          type="image/jpeg"
          media="(max-width: 767px)"
          width="335"
          height="468"
        />
        <img src="./img/hotel/deskop-triple-img/img.jpg" alt="hotel-room-img" />
      </picture>
    </li>
    <li class="hotel-room-img-item triple">
      <picture>
        <source
          srcset="
            .img/hotel/deskop-triple-img/img-1.jpg     1x,
            ./img/hotel/deskop-triple-img/img@2x-1.jpg 2x
          "
          type="image/jpeg"
          media="(min-width: 1440px)"
          width="386"
          height="395"
        />
        <source
          srcset="
            ./img/hotel/tablet-triple-img/img-2.jpg    1x,
            ./img/hotel/tablet-triple-img/img@2x-2.jpg 2x
          "
          type="image/jpeg"
          media="(min-width: 768px)"
          width="341"
          height="175"
        />
        <source
          srcset="
            .img/hotel/mobile-triple-img/img-1.jpg     1x,
            ./img/hotel/mobile-triple-img/img@2x-1.jpg 2x
          "
          type="image/jpeg"
          media="(max-width: 767px)"
          width="158"
          height="149"
        />
        <img
          src=".img/hotel/deskop-triple-img/img-1.jpg"
          alt="hotel-room-img"
        />
      </picture>
    </li>
    <li class="hotel-room-img-item triple">
      <picture>
        <source
          srcset="
            ./img/hotel/deskop-triple-img/img-2.jpg    1x,
            ./img/hotel/deskop-triple-img/img@2x-2.jpg 2x
          "
          type="image/jpeg"
          media="(min-width: 1440px)"
          width="387"
          height="510"
        />
        <source
          srcset="
            .img/hotel/tablet-triple-img/img-1.jpg     1x,
            ./img/hotel/tablet-triple-img/img@2x-1.jpg 2x
          "
          type="image/jpeg"
          media="(min-width: 768px)"
          width="223"
          height="261"
        />
        <source
          srcset="
            ./img/hotel/mobile-triple-img/img-2.jpg    1x,
            ./img/hotel/mobile-triple-img/img@2x-2.jpg 2x
          "
          type="image/jpeg"
          media="(max-width: 767px)"
          width="158"
          height="149"
        />
        <img
          src="./img/hotel/deskop-double-img/img-2.jpg"
          alt="hotel-room-img"
        />
      </picture>
    </li>
  </ul>

  <div class="hotel-room-wrapper triple-wrap">
    <div>
      <h2 class="hotel-room-title triple-title">Triple Room</h2>

      <ul class="hotel-room-disc-list triple-disc list">
        <li class="hotel-room-disc-item">
          <div class="text-disc-up">
            <p class="hotel-room-disc">
              Escape to our spacious Triple Room, perfect for families or
              groups. Enjoy comfort with three beds, seating area, stunning
              views, flat-screen TVs, Wi-Fi, and mini-fridge.
            </p>
          </div>
        </li>
        <li class="hotel-room-disc-item">
          <div class="text-disc-down">
            <p class="hotel-room-disc">
              Rejuvenate in the en-suite bathroom with plush towels and
              toiletries. Book now for a memorable stay.
            </p>
          </div>
        </li>
      </ul>
    </div>
    <ul class="hotel-room-btn-list triple-room-btn-list list">
      <li class="hotel-room-btn-item">
        <button class="hotel-room-btn"><a href="./room.html">More details</a></button>
      </li>
      <li class="hotel-room-btn-item">
        <button class="hotel-room-btn" data-modal-open>View prices</button>
      </li>
    </ul>
  </div>
</section>

<!-- backdrop -->
<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <form class="contact-form">
      <h2 class="title-form">Prices per room</h2>
      <div class="contact-form-wrap">
        <div class="input-box">
          <input
            type="text"
            class="contact-form-input"
            name="user_name"
            required
            minlength="2"
            pattern="^[a-zA-Zа-яА-ЯіІїЇ]+$"
            placeholder="Your name"
          />
        </div>
        <div class="input-box">
          <select class="contact-form-input" name="room-type" required>
            <option class="option" value="" selected>1</option>
            <option value="standard">Tomorrow</option>
          </select>
        </div>
        <div class="input-box">
          <input
            type="date"
            class="contact-form-input"
            name="check-in-date"
            required
            placeholder="Check-in date"
          />
          <p class="subtitle-input">Check-in date</p>
        </div>
      </div>
      <button type="submit" class="contact-form-btn">MAKE A RESERVATION</button>
    </form>
    <button type="button" class="modal-close-btn" data-modal-close>
      <svg class="modal-close-icon" width="8" height="8">
        <use href="./img/sprite.svg#icon-close"></use>
      </svg>
    </button>
  </div>
</div>
