.container {
  max-width: 375px;
  margin: 0 auto;
  padding: 0 20px;
}

.visually-hidden {
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.image-position-fire {
  margin-bottom: 20px;
  max-width: 335px;
  height: 442px;
}

.image-position-bath {
  max-width: 282px;
  height: 153px;
}

.title-complex {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.18em;
  text-transform: uppercase;
  color: #484848;
  margin-bottom: 18px;
  margin-top: 32px;
}

.complex-capture {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;

  color: var(--dark-color);
}

.complex-capture-list {
  margin-bottom: 14px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--dark-color);
}

.complex-capture-list:last-child {
  margin-bottom: 0;
}

.glass-photo {
  margin-bottom: 54px;
}

.title-complex-bc {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.18em;
  text-transform: uppercase;
  color: #484848;
  margin-bottom: 18px;
  margin-top: 32px;
}

.bc-complex-capture {
  margin-bottom: 14px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;

  color: var(--dark-color);
}
.photos-about {
  padding-top: 80px;
}

.complex-capture-bc {
  margin-bottom: 40px;
}

.complex-capture-items {
  margin-bottom: 64px;
}



@media screen and (min-width: 375px) {
  .container {
    max-width: none;
    width: 375px;
  }

  .complex-capture-bc {
    max-width: 335px;
  }
}


@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 32px;
  }

  .image-position-fire {
    max-width: 482px;
    height: 636px;
    display: flex;
    position: absolute;
  }
  .image-position-bath {
    max-width: 404px;
    height: 219px;
    position: relative;
    top: 209px;
    left: 300px;
    padding-bottom: 459px;
  }

  .complex-capture-wrap {
    margin-top: 240px;
    margin-bottom: 64px;
  }
  .glass-photo {
    display: flex;
    justify-content: end;
    align-items: flex-end;
  }

  .complex-capture-list {
    max-width: 472px;
  }
  .complex-capture {
    font-size: 18px;
    line-height: 1.33;
  }
  .bc-complex-capture {
    font-size: 18px;
    line-height: 1.33;
  }

  .restroom-photo {
    margin-right: 32px;
  }
  .bc-complex-wrap-list {
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: row-reverse;

    justify-content: start;
  }

  .glass-photo {
    margin-bottom: 40px;
  }

  .title-complex-bc {
    margin-top: 0;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
  }
  .rh-wrap-list {
    display: flex;

    justify-content: start;
  }
  .complex-capture-wrap {
    margin-top: 231px;
    margin-bottom: 323px;
    margin-left: 364px;
  }

  .bc-wrap-list {
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: row-reverse;

    justify-content: flex-start;
  }

  .bc-complex-wrap-list {
    margin-right: 87px;
    margin-top: 127px;
  }
}
