/* ---------------------- 320  ---------------------- */

.hotel-details {
  background-color: var(--dark-color);
  padding-top: 32px;
  padding-bottom: 32px;
}

.hotel-details-header {
  font-family: 'DM Sans';
  font-weight: 500;
  font-size: 40px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #f7f7f7;
  margin-bottom: 32px;
}

.hotel-details-text {
  font-family: 'DM Sans';
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #f7f7f7;
  margin-bottom: 32px;
}

.hotel-details-list {
}

.hotel-details-item {
}

.hotel-details-button-list {
  display: flex;
  margin-top: 40px;
}

.hotel-details-button-item {
}

.hotel-details-button {
  background-color: inherit;
  /*  */
  padding: 8px 18px;
  gap: 10px;

  min-width: 131px;

  border: 0.8px solid #f7f7f7;
  border-radius: 32px;
  font-family: 'DM Sans';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #f7f7f7;
  margin-top: 82px;
}

.hotel-details-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.hotel-details-buttons-item {
}

/* ---------------------- Mobile  ---------------------- */

@media screen and (min-width: 375px) {
  .container {
    max-width: none;
    width: 375px;
  }
  .hotel-details-caption {
    display: flex;
    margin-bottom: 80px;
  }

  .hotel-details-header {
    margin-right: 32px;
  }

  .hotel-details {
    padding-top: 44px;
    padding-bottom: 44px;
  }

  @media screen and (max-width: 767px) {
    .hotel-details-caption {
      display: block;
    }

    .mobile-hiden {
      display: none;
    }
  }
}

/* ---------------------- Tablet  ---------------------- */

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 32px;
  }
  .hotel-details-header {
    margin-bottom: 0;
  }

  @media screen and (max-width: 1439px) {
    .hotel-details {
      padding-top: 44px;
      padding-bottom: 44px;
    }

    .hotel-details-caption {
      display: block;
    }

    .hotel-details-list-first {
      display: flex;
      flex-wrap: wrap;
      row-gap: 16px;
      justify-content: flex-end;
    }

    .hotel-details-list-last {
      display: flex;
      flex-wrap: wrap;
      row-gap: 16px;
    }

    .test {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 16px;
    }

    .hotel-details-list-first {
      /* gap: 16px; */
    }

    .hotel-details-item-positioning {
      /* order: 2; */
    }

    .hotel-details-item-positioning-first {
      /* display: block; */
      /* flex-wrap: wrap; */
    }

    /* .hotel-details-item:nth-of-type(2) {
      
      justify-content: left;
      align-items: start;
    }
    .hotel-details-item:nth-of-type(1) {
      order: 3;
    }
    .hotel-details-item:nth-of-type(3) {
      order: 4;
    }
    .hotel-details-item:nth-of-type(4) {
      order: 5;
    } */
  }
}

/* ---------------------- Desktop  ---------------------- */

@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
  }

  .hotel-details {
    padding-top: 44px;
    padding-bottom: 80px;
  }

  .hotel-details-text {
    max-width: 362px;
  }

  .hotel-details-button {
    /* justify-content: start; */
  }
}
