<footer>
    <div class="footer-container container">
    <ul class="footer-list">
        <li class="item-footer"><a href="./index.html" class="footer-link">Home</a></li>
        <li class="item-footer"><a href="./hotel.html" class="footer-link">Hotel</a></li>
        <li class="item-footer"><a href="./restaurant.html" class="footer-link">Restaurant</a></li>
    </ul>
    <div class="logo-footer">
        <a href="#" class="link-logo-footer">Mimino</a>
        <a href="#" class="link-logo-part-footer">restaurant-hotel complex</a>
    </div>
    <div class="socials-list-footer">
        <a 
            href="https://www.instagram.com" class="socials-link"
            target="_blank" 
            rel="noopener noreferrer nofollov"
            aria-label="Instagram">
            <svg class="socials-icon" width="24" height="24">
                <use href="./img/sprite.svg#icon-instagram"></use>
            </svg>
        </a>
        <a 
            href="https://www.facebook.com" class="socials-link"
            target="_blank" 
            rel="noopener noreferrer nofollov"
            aria-label="Facebook">
            <svg class="socials-icon" width="24" height="24">
                <use href="./img/sprite.svg#icon-facebook"></use>
            </svg>
        </a>
        <a 
            href="https://www.twitter.com" class="socials-link"
            target="_blank" 
            rel="noopener noreferrer nofollov"
            aria-label="Twitter">
            <svg class="socials-icon" width="24" height="24">
                <use href="./img/sprite.svg#icon-twitter"></use>
            </svg>
        </a>
    </div>
    </div>
</footer>