<header class="header">
  <div class="header-container container">
    <button type="button" class="menu-btn-mobile" data-menu-open>
      <svg class="burger-menu-open" width="28" height="28">
        <use href="../img/sprite.svg#burger-icon"></use>
      </svg>
    </button>
    <nav class="main-nav">
      <ul class="nav-list">
        <li class="item-nav">
          <a href="./index.html" class="nav-link">Home</a>
        </li>
        <li class="item-nav">
          <a href="./hotel.html" class="nav-link">Hotel</a>
        </li>
        <li class="item-nav">
          <a href="./restaurant.html" class="nav-link">Restaurant</a>
        </li>
      </ul>
      <div class="logo">
        <a href="#" class="link-logo">Mimino</a>
        <a href="#" class="link-logo-part">restaurant-hotel complex</a>
      </div>
    </nav>
    <div class="socials-list">
      <a href="https://www.instagram.com" class="socials-link" target="_blank" rel="noopener noreferrer nofollov"
        aria-label="Instagram">
        <svg class="socials-icon" width="24" height="24">
          <use href="../img/sprite.svg#icon-instagram"></use>
        </svg>
      </a>
      <a href="https://www.facebook.com" class="socials-link" target="_blank" rel="noopener noreferrer nofollov"
        aria-label="Facebook">
        <svg class="socials-icon" width="24" height="24">
          <use href="../img/sprite.svg#icon-facebook"></use>
        </svg>
      </a>
      <a href="https://www.twitter.com" class="socials-link" target="_blank" rel="noopener noreferrer nofollov"
        aria-label="Twitter">
        <svg class="socials-icon" width="24" height="24">
          <use href="../img/sprite.svg#icon-twitter"></use>
        </svg>
      </a>
    </div>
  </div>
  <div class="menu-mobile" data-menu>
    <div class="container-mobile container">
        <div>
      <div class="mobile-header">
          <button class="close-btn-mobile" type="button" data-menu-close>
            <svg class="icon-close-mob" width="28" height="28">
              <use href="../img/sprite.svg#icon-close"></use>
            </svg>
          </button>
          <div class="logo-container-mobile">
            <a href="#" class="logo-mobile">Mimino</a>
            <a href="#" class="logo-part-mobile">restaurant-hotel complex</a>
        </div>
        <ul class="mobile-list">
          <li class="item-mobile">
            <a href="./index.html" class="mobile-link">Home</a>
          </li>
          <li class="item-mobile">
            <a href="./hotel.html" class="mobile-link">Hotel</a>
          </li>
          <li class="item-mobile">
            <a href="./restaurant.html" class="mobile-link">Restaurant</a>
          </li>
        </ul>
      </div>
    </div>
      <div class="socials-mobile">
        <a
          href="https://www.instagram.com"
          class="socials-link-mobile"
          target="_blank"
          rel="noopener noreferrer nofollov"
          aria-label="Instagram"
        >
          <svg class="socials-icon" width="20" height="20">
            <use href="../img/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
        <a
          href="https://www.facebook.com"
          class="socials-link-mobile"
          target="_blank"
          rel="noopener noreferrer nofollov"
          aria-label="Facebook"
        >
          <svg class="socials-icon" width="20" height="20">
            <use href="../img/sprite.svg#icon-facebook"></use>
          </svg>
        </a>
        <a
          href="https://www.twitter.com"
          class="socials-link-mobile"
          target="_blank"
          rel="noopener noreferrer nofollov"
          aria-label="Twitter"
        >
          <svg class="socials-icon" width="20" height="20">
            <use href="../img/sprite.svg#icon-twitter"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</header>