.about-kitchen {
  position: relative;
  padding: 64px 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.kitchen-list {
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.two-pictures {
  display: flex;
  justify-content: space-between;
}

.text-list {
  margin-bottom: 64px;
}

.kitchen-item-experts,
.kitchen-item-cooking {
  width: 335px;
  margin-bottom: 24px;
}

.kitchen-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #000000;
}

@media screen and (min-width: 768px) {
  .about-kitchen {
    padding: 80px 0;
  }
  .kitchen-list {
    margin-bottom: 40px;
    display: flex;
    flex-direction: row-reverse;
    column-gap: 32px;
  }

  .two-pictures {
    flex-direction: column;
    row-gap: 16px;
  }

  .text-list {
    display: flex;
    column-gap: 32px;
    margin-bottom: 80px;
  }

  .kitchen-item-experts {
    width: 349px;
  }

  .kitchen-item-cooking {
    width: 323px;
  }

  .kitchen-text {
    font-size: 18px;
    line-height: 1.33;
  }
}

@media screen and (min-width: 1440px) {
  .about-kitchen {
    padding: 100px 0;
  }
  .kitchen-list {
    margin-bottom: 100px;
    flex-direction: unset;
  }

  .two-pictures {
    flex-direction: row;
    gap: 32px;
  }

  .kitchen-text {
    font-weight: 500;
  }

  .text-list {
    position: absolute;
    bottom: 16px;
    right: 46px;
    margin: 0;
  }

  .kitchen-item-experts {
    width: 334px;
  }

  .kitchen-item-cooking {
    width: 453px;
  }
}
