.rest-menu {
    font-family: 'DM Sans';

    background-color: var(--dark-color);

    padding-top: 40px;
    padding-bottom: 64px;
    max-width: 375px;
}

@media screen and (min-width: 768px) {
    .rest-menu {
        max-width: 768px;
        padding: 80px 0;
    }
}

.rest-menu-continer {
   padding: 0 20px;
}

@media screen and (min-width: 768px) {
    .rest-menu-continer {
        padding: 0 126px 0 127px;
    }
}

.rest-menu-name {
    color: var(--light-color);

    text-transform: uppercase;
    text-align: center;

    font-weight: 700;
    font-size: 32px;
    line-height: 1.25;
    letter-spacing: -0.02em;

    margin-bottom: 36px;
}

.rest-menu-sub-name {
    color: var(--light-color);

    text-transform: uppercase;
    font-style: italic;

    font-weight: 700;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.02em;

    margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
    .rest-menu-sub-name {
        font-size: 24px;
        line-height: 1;
    }
}

.rest-menu-items {
    margin-bottom: 102px;
}

@media screen and (min-width: 768px) {
    .rest-menu-items {
        margin-bottom: 114px;
    }
}

.rest-menu-item {
    display: flex;
    justify-content: space-between;

    padding-bottom: 14px;

    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.rest-menu-item:not(:first-child) {
    padding-top: 14px;
}

.rest-menu-dish-name {
    color: var(--light-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;

    margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
    .rest-menu-dish-name {
        font-size: 18px;
        line-height: 1.33;
    }
}

.rest-menu-ingredients {
    color: var(--grey-color);

    font-size: 10px;
    line-height: 1.4;
    letter-spacing: 0.18em;
    margin-left: 0px;

    max-width: 217px;
}

@media screen and (min-width: 768px) {
    .rest-menu-ingredients {
        font-size: 12px;
        line-height: 1.5;

        max-width: 339px;
    }
}

.rest-menu-dish-weight{
    color: var(--light-grey-color);

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: -0.02em;

    text-align: end;

    margin-bottom: 14px;
}

@media screen and (min-width: 768px) {
    .rest-menu-dish-weight {
        margin-bottom: 8px;

        font-size: 14px;
        line-height: 1.29;
    }
}

.rest-menu-dish-price {
    color: var(--light-color);

    font-weight: 700;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
}

@media screen and (min-width: 768px) {
    .rest-menu-dish-price {
        font-size: 18px;
        line-height: 1.33;
    }
}

.rest-menu-btn {
    border: 0.8px solid var(--light-color);
    border-radius: 32px;
    color: var(--light-color);
    background-color: transparent;

    text-transform: uppercase;

    width: 140px;
    height: 40px;

    display: block;
    margin: 0 auto;

    font-size: 14px;
    line-height: 1.71;

    transition: color var(--anim), background-color var(--anim);
}

@media screen and (min-width: 768px) {
    .rest-menu-btn {
        margin: 0;
    }
}

.rest-menu-btn:hover,
.rest-menu-btn:focus {
    color: var(--dark-color);
    background-color: #fff;
}